<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Usuários</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mt-5">
            <h1>Lista de Usuários</h1>
            <a id="livrosBtn" class="btn btn-warning btn-sm">Livros</a>
        </div>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Endereço</th>
                    <th>Telefone</th>
                    <th>CPF</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="usuario : ${usuarios}">
                    <td th:text="${usuario.id}"></td>
                    <td th:text="${usuario.nome}"></td>
                    <td th:text="${usuario.endereco}"></td>
                    <td th:text="${usuario.telefone}"></td>
                    <td th:text="${usuario.cpf}"></td>
                    <td>
                        <a th:href="@{/usuarios/editar/{id}(id=${usuario.id})}" class="btn btn-primary btn-sm">Editar</a>
                        <a th:href="@{/usuarios/deletar/{id}(id=${usuario.id})}" class="btn btn-danger btn-sm">Deletar</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="/usuarios/novo" class="btn btn-success mt-3">Novo Usuário</a>
        <div id="livrosLista" class="mt-5"></div>
    </div>
    <script>
    document.getElementById('livrosBtn').addEventListener('click', function() {
        fetch('https://cadastro-livros.onrender.com/biblioteca/pesquisar_livro/')
            .then(response => response.json())
            .then(data => {
                const livrosLista = document.getElementById('livrosLista');
                livrosLista.innerHTML = '<h2>Lista de Livros</h2>';
    
                if (data.length === 0) {
                    livrosLista.innerHTML += '<p>Nenhum livro cadastrado.</p>';
                } else {
                    const list = document.createElement('ul');
                    data.forEach(livro => {
                        const listItem = document.createElement('li');
                        listItem.textContent = `${livro.titulo} - ${livro.autor}`;
                        list.appendChild(listItem);
                    });
                    livrosLista.appendChild(list);
                }
            })
            .catch(error => {
                console.error('Erro ao buscar livros:', error);
            });
    });
    </script>
</body>
</html>
